<div class="container">
	<h2 style="text-align:center">Login Here </h2><br>
  <div class="card">
		<% if flash[:notice] %>
			<div class="message"><p><%= flash[:notice] %></p></div>
  	<% end %>
		<div class="card-body">
			<div>
				<%= form_with url: "/login" do |form| %>
	    	<div class="mb-3">
  	    	<%= form.label :email, { class: "form-label"}  %><br>
    	  	<%= form.email_field :email, { class: "form-control", placeholder: "Enter Your Email" }  %><br>
	    	</div>
	    	<div class="mb-3">	
  	    	<%= form.label :password, { class: "form-label"}  %><br>
    	  	<%= form.password_field :password, { class: "form-control", placeholder: "Enter Your Password" }  %><br>
	    	</div>
	    	<div class="mb-3" style="margin-left:47%"><br>
  	    	<%= form.submit "Login", { class: "btn btn-primary" }  %>
    		</div>
  		<% end %>
				<div  style="text-align:center;">
					<a href="/signup">Create account</a>
				</div>
			</div>
		</div>
  </div>
</div>