<%= form_with model: @posts_path do |form| %>
<div class="card">
 <div class="card-body">
  <div class="mb-3">
    <%= form.label :product_name, { class: "form-label"}  %><br>
    <%= form.text_field :product_name, { class: "form-control", placeholder: "Enter Your Name" } %><br>
    <% post.errors.full_messages_for(:product_name).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :detail, { class: "form-label"}  %><br>
    <%= form.text_field :detail, { class: "form-control", placeholder: "Enter Your Email" } %><br>
    <% post.errors.full_messages_for(:detail).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.label :image, { class: "form-label"}  %><br>
    <%= form.file_field :image %><br>
  </div>
  <div class="mb-3">
    <%= form.label :price, { class: "form-label"}  %><br>
    <%= form.text_field :price, { class: "form-control", placeholder: "Enter Your Password" }  %><br>
    <% post.errors.full_messages_for(:price).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3"><br>
    <%= form.submit "Add Product", { class: "btn btn-primary" }  %>
  </div>
</div>
</div>
<% end %>
