<div class="container" style="auto;">
	<div class="row">
		<div class="col-1">
			<h3><%= link_to "Back", root_path %></h3>
		</div>
    	<div class="col-10">
				<h1 style="text-align:center">This is about Product </h1>
			</div>
			<div class="col-1" style="text-align:left;">
				<h3><%= link_to 'Logout', '/logout', :data => { :confirm => 'Are you sure?' }%></h3>
			</div>
			<hr>
	</div>
	<% if current_user.role == "customer" %>
		<div class="row">
			<div class="col-11"></div>
			<div class="col-1">
				<b><%= link_to "My Orders", user_product_orders_path(product_id:@product.id) %></b>
			</div>
		</div>
	<% end %>
	<div class="row">
			<div class="col-4"></div>
			<div class="col-4" style="margin-top:2.5%;">
				<h2><%= @product.name %></h2>
				<h4><%= @product.detail %> </h4>
				<h5><%= @product.price %>/-</h5>
				<% if @user_detail.role == "customer" %>
					<b><%= link_to "Buy", new_user_product_order_path(product_id: @product.id) %><b>
				<% else %>
					<%= link_to "Back", root_path %>				
				<% end %>
			</div>
			<div class="col-4"></div>
	</div>
</div>